.meter-progress {
    -webkit-appearance: none;
    appearance: none;
    width: 250px;
    height: 8px;
}

.meter-progress::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 3px;
}

.meter-progress::-webkit-progress-value {
    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

.strength-weak::-webkit-progress-value {
    background-color: #F25F5C;
}
.strength-medium::-webkit-progress-value {
    background-color: #FFE066;
}
.strength-strong::-webkit-progress-value {
    background-color: #247BA0;
}
.strength-very::-webkit-progress-value {
    background-color: #70C1B3;
}
.details {
    font-size: 14px;
}